<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Address1</key>
		<string>test1 </string>
		<key>Address2</key>
		<string>test 1</string>
		<key>Education</key>
		<string>10th</string>
		<key>EmailId</key>
		<string>test@test.com</string>
		<key>FirstName</key>
		<string>test</string>
		<key>Id</key>
		<string>1</string>
		<key>LastName</key>
		<string>test</string>
		<key>Phone</key>
		<string>1234567890</string>
		<key>UserName</key>
		<string>test</string>
	</dict>
	<dict>
		<key>Address1</key>
		<string>fafafafa</string>
		<key>Address2</key>
		<string>sfsfsf</string>
		<key>Education</key>
		<string>Higher Education</string>
		<key>EmailId</key>
		<string>iraniya@gmail.com</string>
		<key>FirstName</key>
		<string>Naynesh</string>
		<key>Id</key>
		<string>2</string>
		<key>LastName</key>
		<string>Iraniya</string>
		<key>Password</key>
		<string>123456789Qwerty</string>
		<key>Phone</key>
		<string>1234567890</string>
		<key>UserName</key>
		<string>iraniya</string>
	</dict>
	<dict>
		<key>Address1</key>
		<string>sdafsfgvdsgvdv</string>
		<key>Address2</key>
		<string>fsgfsefrse</string>
		<key>Education</key>
		<string>Graduation</string>
		<key>EmailId</key>
		<string>deepti@gmail.com</string>
		<key>FirstName</key>
		<string>Deepti</string>
		<key>Id</key>
		<string>3</string>
		<key>LastName</key>
		<string>Ameta</string>
		<key>Password</key>
		<string>123456789Qwerty</string>
		<key>Phone</key>
		<string>1234567890</string>
		<key>UserName</key>
		<string>deepti</string>
	</dict>
	<dict>
		<key>Address1</key>
		<string>feswfgtsefrs</string>
		<key>Address2</key>
		<string>dwerfewrfgter</string>
		<key>Education</key>
		<string>Graduation</string>
		<key>EmailId</key>
		<string>palak@gmail.com</string>
		<key>FirstName</key>
		<string>Palak</string>
		<key>Id</key>
		<string>4</string>
		<key>LastName</key>
		<string>Patel</string>
		<key>Password</key>
		<string>123456789Qwerty</string>
		<key>Phone</key>
		<string>1234567890</string>
		<key>UserName</key>
		<string>palak</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>5</string>
	</dict>
	<dict>
		<key>Address1</key>
		<string>rfsgdthdtgdrs</string>
		<key>Address2</key>
		<string>gdrtgtrdgdr</string>
		<key>Education</key>
		<string>Higher Education</string>
		<key>EmailId</key>
		<string>jd@gmail.com</string>
		<key>FirstName</key>
		<string>Jaydeep</string>
		<key>Id</key>
		<string>6</string>
		<key>LastName</key>
		<string>Solanki</string>
		<key>Password</key>
		<string>123456789Qwerty</string>
		<key>Phone</key>
		<string>1234567903</string>
		<key>UserName</key>
		<string>jaydeep</string>
	</dict>
	<dict>
		<key>Address1</key>
		<string>fdafvs</string>
		<key>Address2</key>
		<string>daewfrdawfgva</string>
		<key>Education</key>
		<string>Graduation</string>
		<key>EmailId</key>
		<string>shrey@gmail.com</string>
		<key>FirstName</key>
		<string>shrey</string>
		<key>Id</key>
		<string>7</string>
		<key>LastName</key>
		<string>shah</string>
		<key>Password</key>
		<string>1234567890Qwerty</string>
		<key>Phone</key>
		<string>1234567890</string>
		<key>UserName</key>
		<string>shrey</string>
	</dict>
</array>
</plist>
